<div class="table-container">
  <table *ngIf="rows$ | async as rows">
    <tr>
      <th></th>
      <th *ngFor="let playerId of playerIds">{{playerId}}</th>
    </tr>
    <tr *ngFor="let row of rows; let i = index">
      <td>Rd. {{i + 1}}</td>
      <td *ngFor="let playerId of playerIds">
        <hop-foobar-cell
          [playerEvents]="row.eventsByPlayer[playerId]"
          [roundId]="row.roundId"
          [playerId]="playerId"
          (addEvent)="onAddEvent($event)"
        ></hop-foobar-cell>
      </td>
    </tr>
    <tr>
      <td>
        <button>Rd. {{rows.length + 1}}</button>
      </td>
    </tr>
    <tr *ngIf="sums$ | async as playerSums">
      <td>&sum;</td>
      <td *ngFor="let playerId of playerIds">
        {{playerSums[playerId] | number:'1.2'}}
      </td>
    </tr>
  </table>
</div>