$cards-margin: 10px;

.statistics-container {
  mat-card {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: $cards-margin;
    box-sizing: border-box;
  }

  .count-row {
    display: inline-flex;
    height: 150px;

    @media (max-width: 600px) {
      width: calc(100% - #{2 * $cards-margin});
    }

    @media (min-width: 600px) {
      width: calc(50% - #{2 * $cards-margin});
    }

    @media (min-width: 800px) {
      width: calc(33.3333% - #{2 * $cards-margin});
    }

    @media (min-width: 1000px) {
      width: calc(25% - #{2 * $cards-margin});
    }

    & > :first-child {
      font-size: 40px;
    }
  }
}

.min-max-container {
  display: flex;
  justify-content: space-evenly;

  .min-max-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    min-width: 30%;
  }
}

.ranking-table {
  tr:first-child {
    font-weight: bold;
  }

  td {
    padding: 5px 15px 5px 0;
  }
}

.quick-filter-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > * {
    margin: 5px;
  }
}