<form [formGroup]="form">
  <div class="datepicker-row">
    <mat-form-field>
      <mat-label>von</mat-label>
      <input matInput formControlName="fromDate" [matDatepicker]="pickerFrom" [min]="minFromDate" [max]="maxFromDate">
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerFrom></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>bis</mat-label>
      <input matInput formControlName="toDate" [matDatepicker]="pickerTo" [min]="minToDate" [max]="maxToDate">
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>

    <button mat-stroked-button color="primary" [matMenuTriggerFor]="quickfilterDatesMenu">
      <mat-icon *ngIf="isMobile$ | async">filter_alt</mat-icon>
      <span *ngIf="!(isMobile$ | async)">Schnellfilter</span>
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #quickfilterDatesMenu="matMenu">
      <button mat-menu-item (click)="resetDateRange()">Gesamt</button>
      <button mat-menu-item *ngFor="let year of yearsSinceStartOfStats" (click)="setDateRange(year + '-01-01', year + '-12-31')">{{year}}</button>
      <button mat-menu-item *ngIf="stateLatestGame$ | async as latestGame" (click)="setDateRangeForLatestGame(latestGame.datetime)">Letztes Spiel</button>
    </mat-menu>
  </div>
  <mat-checkbox formControlName="activePlayersOnly">nur aktive Spieler</mat-checkbox>
  <mat-checkbox formControlName="completedGamesOnly">nur abgeschlossene Spiele</mat-checkbox>
</form>

<mat-tab-group (selectedTabChange)="updateSubTabs()">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>casino</mat-icon>
      Spiele & Runden
    </ng-template>
    <mat-tab-group color="accent">
      <mat-tab label="Allgemein">
        <div class="card-container">
          <mat-card class="count-row">
            <hop-odometer [countTo]="stateGamesCount$ | async"></hop-odometer>
            <div>Spiele</div>
          </mat-card>
          <mat-card class="count-row">
            <hop-odometer [countTo]="stateRoundsCount$ | async"></hop-odometer>
            <div>Runden</div>
          </mat-card>
          <mat-card class="count-row">
            <hop-odometer [countTo]="stateEventsWithPenalty$ | async"></hop-odometer>
            <div>Strafen</div>
          </mat-card>
          <mat-card class="count-row">
            <hop-odometer [countTo]="stateAverageRoundsPerGame$ | async" [precision]="1"></hop-odometer>
            <div>Runden pro Spiel</div>
          </mat-card>
          <mat-card class="count-row">
            <hop-odometer [countTo]="stateAveragePenaltyPerGame$ | async" [precision]="2" suffix="€"></hop-odometer>
            <div>Strafen pro Spiel</div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Austragungsorte">
        <div class="table-wrapper">
          <table *ngIf="stateGameHostsTable$ | async as stateGameHostsTable; else loading" class="stats-table">
            <tr>
              <td>Name</td>
              <td>Anzahl</td>
            </tr>
            <tr *ngFor="let item of stateGameHostsTable">
              <td>{{item.name}}</td>
              <td>{{item.count}}</td>
            </tr>
          </table>
          <small class="hint">
            <mat-icon>info</mat-icon>
            <span>
              Hinweis: Christian und Tobias waren zusätzlich je 1x Gastgeber im Sept./Okt. 2018.
            </span>
          </small>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>insights</mat-icon>
      Streaks
    </ng-template>
    <div class="card-container">
      <mat-card class="count-row">
        <ng-container *ngIf="stateMaxSchockAusStreak$ | async as stateMaxSchockAusStreak">
          <hop-odometer [countTo]="stateMaxSchockAusStreak.count"></hop-odometer>
          <div>
            Schock-Aus-Streak
            <div *ngIf="stateMaxSchockAusStreak.count > 0">
              <small>
                am
                <a [href]="'game-table/' + stateMaxSchockAusStreak.gameId">
                  {{ stateMaxSchockAusStreak.datetime | date:'dd.MM.yyyy' }}
                </a>
              </small>
            </div>
          </div>
          <button mat-icon-button (click)="tooltipSAStreak.show()">
            <mat-icon
              #tooltipSAStreak="matTooltip"
              matTooltip="aufeinanderfolgende Runden mit mind. 1x Schock-Aus"
              [matTooltipPosition]="'right'"
              (mouseenter)="$event.stopImmediatePropagation()"
              (mouseleave)="$event.stopImmediatePropagation()"
            >info</mat-icon>
          </button>
        </ng-container>
      </mat-card>
      <mat-card class="count-row">
        <ng-container *ngIf="stateNoSchockAusStreak$ | async as stateNoSchockAusStreak; else loading">
          <hop-odometer [countTo]="stateNoSchockAusStreak.overallMax.count"></hop-odometer>
          <div>
            Runden ohne <strong>Schock-Aus</strong>
            <div *ngIf="stateNoSchockAusStreak.overallMax.name && stateNoSchockAusStreak.overallMax.to">
              <small>
                von {{ stateNoSchockAusStreak.overallMax.name }} am {{ stateNoSchockAusStreak.overallMax.to | date:'dd.MM.yyyy' }}
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>

      <mat-card class="count-row">
        <ng-container *ngIf="stateNoVerlorenStreak$ | async as stateNoVerlorenStreak; else loading">
          <hop-odometer [countTo]="stateNoVerlorenStreak.overallMax.count"></hop-odometer>
          <div>
            Runden ohne <strong>Niederlage</strong>
            <div *ngIf="stateNoVerlorenStreak.overallMax.name && stateNoVerlorenStreak.overallMax.to">
              <small>
                von {{ stateNoVerlorenStreak.overallMax.name }} am {{ stateNoVerlorenStreak.overallMax.to | date:'dd.MM.yyyy' }}
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>

      <mat-card class="count-row">
        <ng-container *ngIf="stateNo221Streak$ | async as stateNo221Streak; else loading">
          <hop-odometer [countTo]="stateNo221Streak.overallMax.count"></hop-odometer>
          <div>
            Runden ohne <strong>2-2-1</strong>
            <div *ngIf="stateNo221Streak.overallMax.name && stateNo221Streak.overallMax.to">
              <small>
                von {{ stateNo221Streak.overallMax.name }} am {{ stateNo221Streak.overallMax.to | date:'dd.MM.yyyy' }}
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>

      <mat-card class="count-row">
        <ng-container *ngIf="stateNoLustwurfStreak$ | async as stateNoLustwurfStreak; else loading">
          <hop-odometer [countTo]="stateNoLustwurfStreak.overallMax.count"></hop-odometer>
          <div>
            Runden ohne <strong>Lustwurf</strong>
            <div *ngIf="stateNoLustwurfStreak.overallMax.name && stateNoLustwurfStreak.overallMax.to">
              <small>
                von {{ stateNoLustwurfStreak.overallMax.name }} am {{ stateNoLustwurfStreak.overallMax.to | date:'dd.MM.yyyy' }}
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>star</mat-icon>
      Rekorde
    </ng-template>
    <div class="card-container">
      <mat-card class="count-row">
        <ng-container *ngIf="stateMaxRoundsPerGame$ | async as stateMaxRoundsPerGame">
          <hop-odometer [countTo]="stateMaxRoundsPerGame.count"></hop-odometer>
          <div>
            Die meisten Runden pro Spiel
            <div *ngIf="stateMaxRoundsPerGame.count > 0">
              <small>
                am
                <a [href]="'game-table/' + stateMaxRoundsPerGame.gameId">
                  {{ stateMaxRoundsPerGame.datetime | date:'dd.MM.yyyy' }}
                </a>
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>
      <mat-card class="count-row">
        <ng-container *ngIf="stateMaxSchockAusPerGame$ | async as stateMaxSchockAusPerGame; else loading">
          <hop-odometer [countTo]="stateMaxSchockAusPerGame.count"></hop-odometer>
          <div>
            Die meisten Schock-Aus
            <div *ngIf="stateMaxSchockAusPerGame.count > 0">
              <small>
                von {{ stateMaxSchockAusPerGame.name }} am
                <a [href]="'game-table/' + stateMaxSchockAusPerGame.gameId">{{ stateMaxSchockAusPerGame.datetime | date:'dd.MM.yyyy' }}</a>
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>
      <mat-card class="count-row">
        <ng-container *ngIf="stateMax221PerGame$ | async as stateMax221PerGame; else loading">
          <hop-odometer [countTo]="stateMax221PerGame.count"></hop-odometer>
          <div>
            Die meisten 2-2-1
            <div *ngIf="stateMax221PerGame.count > 0">
              <small>
                von {{ stateMax221PerGame.name }} am
                <a [href]="'game-table/' + stateMax221PerGame.gameId">{{ stateMax221PerGame.datetime | date:'dd.MM.yyyy' }}</a>
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>
      <mat-card class="count-row">
        <ng-container *ngIf="stateMaxLustwurfPerGame$ | async as stateMaxLustwurfPerGame; else loading">
          <hop-odometer [countTo]="stateMaxLustwurfPerGame.count"></hop-odometer>
          <div>
            Die meisten Lustwürfe
            <div *ngIf="stateMaxLustwurfPerGame.count > 0">
              <small>
                von {{ stateMaxLustwurfPerGame.name }} am
                <a [href]="'game-table/' + stateMaxLustwurfPerGame.gameId">{{ stateMaxLustwurfPerGame.datetime | date:'dd.MM.yyyy' }}</a>
              </small>
            </div>
          </div>
        </ng-container>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>military_tech</mat-icon>
      Punkte
    </ng-template>
    <form [formGroup]="pointsForm">
      <mat-checkbox formControlName="skipPoints">Punkte überspringen</mat-checkbox>
    </form>
    <div class="table-wrapper">
      <table *ngIf="statePointsTable$ | async as statePointsTable; else loading" class="stats-table ranking-table">
        <tr>
          <td>Platz</td>
          <td>Spieler</td>
          <td>Verl.</td>
          <td>SA</td>
          <td>Strafen</td>
          <td>Summe</td>
        </tr>
        <ng-container *ngFor="let entry of statePointsTable">
          <tr *ngFor="let item of entry.items">
            <td><hop-badge [place]="entry.rank"></hop-badge></td>
            <td [ngClass]="{ 'inactive-player': !item.active }">{{item.name}}</td>
            <td>{{item.verlorenSum}}</td>
            <td>{{item.schockAusSum}}</td>
            <td>{{item.cashSum}}</td>
            <td>{{item.sum}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>beenhere</mat-icon>
      Teilnahmen
    </ng-template>
    <div class="table-wrapper">
      <table *ngIf="stateParticipationTable$ | async as stateParticipationTable; else loading" class="stats-table ranking-table">
        <tr>
          <td>Platz</td>
          <td>Spieler</td>
          <td>Runden</td>
          <td>Quote</td>
        </tr>
        <ng-container *ngFor="let entry of stateParticipationTable">
          <tr *ngFor="let item of entry.items">
            <td><hop-badge [place]="entry.rank"></hop-badge></td>
            <td [ngClass]="{ 'inactive-player': !item.active }">{{item.name}}</td>
            <td>{{item.roundCount}}</td>
            <td>{{item.quote | percent:'1.1'}}</td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>gavel</mat-icon>
      Strafen
    </ng-template>
    <mat-tab-group color="accent">
      <mat-tab label="pro Spieler">
        <ng-container *ngIf="eventTypeGroups$ | async as eventTypeGroups">
          <form [formGroup]="penaltyForm" style="padding-top: 20px;">
            <mat-form-field style="width: 350px;">
              <mat-label>Strafen</mat-label>
              <mat-select formControlName="types" multiple>
                <mat-optgroup *ngFor="let group of eventTypeGroups" [label]="group.name">
                  <mat-option *ngFor="let type of group.types" [value]="type.id">
                    {{type.description}}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
          </form>
        </ng-container>
        <div class="table-wrapper">
          <table *ngIf="stateEventCountsByPlayerTable$ | async as stateEventCountsByPlayerTable; else loading" class="stats-table ranking-table">
            <tr>
              <td>Platz</td>
              <td>Spieler</td>
              <td>Anzahl</td>
              <td>Quote</td>
            </tr>
            <ng-container *ngFor="let entry of stateEventCountsByPlayerTable">
              <tr *ngFor="let item of entry.items" [ngClass]="{ 'not-participated': !item.roundCount }">
                <td><hop-badge [place]="entry.rank"></hop-badge></td>
                <td [ngClass]="{ 'inactive-player': !item.active }">{{item.name}}</td>
                <td>{{item.eventCount}}</td>
                <td>{{item.quote | percent:'1.1'}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Gesamt">
        <div class="table-wrapper">
          <table *ngIf="stateEventCountTable$ | async as stateEventCountTable; else loading" class="stats-table">
            <tr>
              <td>Bezeichnung</td>
              <td>Anzahl</td>
            </tr>
            <tr *ngFor="let item of stateEventCountTable">
              <td>{{item.description}}</td>
              <td>{{item.count}}</td>
            </tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Kasse">
        <div class="card-container">
          <mat-card class="count-row">
            <ng-container *ngIf="stateCashTable$ | async as stateCashTable; else loading">
              <hop-odometer [countTo]="stateCashTable.overallSum" [precision]="2" [suffix]="'€'"></hop-odometer>
              <div>Bußgelder</div>
            </ng-container>
            <button mat-icon-button (click)="tooltipSAStreak.show()">
              <mat-icon
                #tooltipSAStreak="matTooltip"
                matTooltip="exkl. Monatsbeiträge"
                [matTooltipPosition]="'right'"
                (mouseenter)="$event.stopImmediatePropagation()"
                (mouseleave)="$event.stopImmediatePropagation()"
              >info</mat-icon>
            </button>
          </mat-card>
        </div>

        <div class="table-wrapper">
          <table *ngIf="stateCashTable$ | async as stateCashTable; else loading" class="stats-table ranking-table">
            <tr>
              <td>Platz</td>
              <td>Spieler</td>
              <td>Rundenstrafen</td>
              <td>Feststellungen</td>
              <td>Summe</td>
              <td>€/Rd.</td>
              <td>Anteil</td>
            </tr>
            <ng-container *ngFor="let entry of stateCashTable.playerTable">
              <tr *ngFor="let item of entry.items">
                <td><hop-badge [place]="entry.rank"></hop-badge></td>
                <td [ngClass]="{ 'inactive-player': !item.active }">{{item.name}}</td>
                <td>
                  <span *ngIf="item.roundEventPenalties > 0">{{item.roundEventPenalties | number:'1.2-2'}} €</span>
                  <span *ngIf="item.roundEventPenalties === 0">-</span>
                </td>
                <td>
                  <span *ngIf="item.gameEventPenalties > 0">{{item.gameEventPenalties | number:'1.2-2'}} €</span>
                  <span *ngIf="item.gameEventPenalties === 0">-</span>
                </td>
                <td>
                  <span *ngIf="item.sum > 0">{{item.sum | number:'1.2-2'}} €</span>
                  <span *ngIf="item.sum === 0">-</span>
                </td>
                <td>{{item.cashPerRound | number:'1.2-2'}} €</td>
                <td>{{item.quote | percent:'1.1'}}</td>
              </tr>
            </ng-container>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon svgIcon="schock_aus"></mat-icon>
      Schock-Aus
    </ng-template>
    <mat-tab-group color="accent">
      <mat-tab label="Schock-Aus">
        <div class="table-wrapper">
          <table *ngIf="stateSchockAusCountsByPlayerTable$ | async as stateSchockAusCountsByPlayerTable; else loading" class="stats-table ranking-table">
            <tr>
              <td>Platz</td>
              <td>Spieler</td>
              <td>Schock-Aus</td>
              <td>Quote</td>
            </tr>
            <ng-container *ngFor="let entry of stateSchockAusCountsByPlayerTable">
              <tr *ngFor="let item of entry.items" [ngClass]="{ 'not-participated': !item.roundCount }">
                <td><hop-badge [place]="entry.rank"></hop-badge></td>
                <td [ngClass]="{ 'inactive-player': !item.active }">{{item.name}}</td>
                <td>{{item.eventCount}}</td>
                <td>
                  <span *ngIf="item.quote">alle {{1 / item.quote | number:'1.1-1':'de'}} Runden</span>
                  <span *ngIf="!item.quote">-</span>
                </td>
              </tr>
            </ng-container>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Effektivität">
        <div class="table-wrapper">
          <table *ngIf="stateSchockAusEffectivenessTable$ | async as stateSchockAusEffectivenessTable; else loading" class="stats-table ranking-table">
            <tr>
              <td>Platz</td>
              <td>Spieler</td>
              <td>Schock-Aus</td>
              <td>Verursachte SA-Strafen</td>
              <td>Quote</td>
            </tr>
            <ng-container *ngFor="let entry of stateSchockAusEffectivenessTable">
              <tr *ngFor="let item of entry.items">
                <td><hop-badge [place]="entry.rank"></hop-badge></td>
                <td [ngClass]="{ 'inactive-player': !item.active }">{{item.name}}</td>
                <td>{{item.schockAusCount}}</td>
                <td>{{item.schockAusPenaltyCount}}</td>
                <td>{{item.quote | number:'1.2-2':'de'}}</td>
              </tr>
            </ng-container>
          </table>
          <small class="hint">
            <mat-icon>info</mat-icon>
            <span>
              Hinweis: Gezählt werden nur Runden, die durch <strong>einen einzigen</strong> Schock-Aus beendet wurden.
            </span>
          </small>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>

<ng-template #loading>
  <mat-spinner [diameter]="20"></mat-spinner>
</ng-template>
