<div class="statistics-container">
  <mat-card class="count-row">
    <ng-container *ngIf="gamesCountValue$ | async as gamesCountValue; else loading">
      <hop-odometer [countTo]="gamesCountValue"></hop-odometer>
      <div>Spiele</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="roundsCountValue$ | async as roundsCountValue; else loading">
      <hop-odometer [countTo]="roundsCountValue"></hop-odometer>
      <div>Runden</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="maxRoundsPerGameValue$ | async as maxRoundsPerGameValue; else loading">
      <hop-odometer [countTo]="maxRoundsPerGameValue"></hop-odometer>
      <div>Runden-Rekord pro Spiel</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="(attendanceCountValue$ | async)?.max as attendanceMaxCountValue; else loading">
      <div>{{attendanceMaxCountValue.playerName}}</div>
      <div class="mat-small"><hop-odometer [countTo]="attendanceMaxCountValue.count"></hop-odometer> Runden</div>
      <div>Schockaholic</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="(attendanceCountValue$ | async)?.min as attendanceMinCountValue; else loading">
      <div>{{attendanceMinCountValue.playerName}}</div>
      <div class="mat-small"><hop-odometer [countTo]="attendanceMinCountValue.count"></hop-odometer> Runden</div>
      <div>Drückeberger</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="schockAusStreak$ | async as schockAusStreak; else loading">
      <hop-odometer [countTo]="schockAusStreak.schockAusCount"></hop-odometer>
      <div>Schock-Aus-Streak</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="maxSchockAusByPlayer$ | async as maxSchockAusByPlayer; else loading">
      <div>{{maxSchockAusByPlayer.playerName}}</div>
      <div class="mat-small"><hop-odometer [countTo]="maxSchockAusByPlayer.schockAusCount"></hop-odometer> Schock-Aus</div>
      <div>Schock-Aus-Profi</div>
    </ng-container>
  </mat-card>
  <!-- <mat-card class="count-row">
    <ng-container *ngIf="(loseRates$ | async)?.max as maxLoseRate; else loading">
      <div>{{maxLoseRate.playerName}}</div>
      <div class="mat-small"><hop-odometer [countTo]="maxLoseRate.rate * 100" [precision]="1"></hop-odometer>% seiner Runden verloren</div>
      <div>Flasche</div>
    </ng-container>
  </mat-card>
  <mat-card class="count-row">
    <ng-container *ngIf="(loseRates$ | async)?.min as minLoseRate; else loading">
      <div>{{minLoseRate.playerName}}</div>
      <div class="mat-small"><hop-odometer [countTo]="minLoseRate.rate * 100" [precision]="1"></hop-odometer>% seiner Runden verloren</div>
      <div>Champignon</div>
    </ng-container>
  </mat-card> -->
  <mat-card>
    <ng-container *ngIf="loseRates$ | async as loseRates; else loading">
      <div>Verloren-Quote</div>
      <div>
        <table class="mat-small">
          <tr>
            <th>Name</th>
            <th>Quote</th>
          </tr>
          <tr *ngFor="let item of loseRates">
            <td>{{item.name}}</td>
            <td><hop-odometer [countTo]="item.rate * 100" [precision]="2"></hop-odometer>%</td>
          </tr>
        </table>
      </div>
    </ng-container>
  </mat-card>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ereignisse
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="eventTypeCountValues$ | async as eventTypeCountValues; else loading">
      <div *ngFor="let value of eventTypeCountValues">
        <hop-odometer [countTo]="value.count"></hop-odometer>
        <span>x {{value.description}}</span>
      </div>
    </ng-container>

  </mat-expansion-panel>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="20"></mat-spinner>
</ng-template>