<h2>Events</h2>
<div *ngIf="mergedList$ | async as mergedList">
  <div *ngIf="!mergedList.length">keine Events</div>
  <div *ngFor="let item of mergedList">
    {{item.event.datetime}}
    {{item.eventType.name}}
    <span *ngIf="item.eventType?.valueUnit">{{item.event.eventTypeValue}} {{item.eventType.valueUnit}}</span>
    <span *ngIf="item.eventType?.penalty.unit">[{{item.eventType.penalty.value * (item.event.eventTypeValue || 1)}} {{item.eventType.penalty.unit}}]</span>
    <button (click)="handleRemoveEventClicked(item.event)">X</button>
  </div>
  <div *ngIf="penalties$ | async as penalties">
    <div style="font-weight: bold" *ngFor="let penalty of penalties">{{penalty.sum}} {{penalty.unit}}</div>
  </div>
</div>