<div>
  <a *ngIf="roundId$ | async as roundId" href="" [routerLink]="['/attendees', roundId]">Teilnehmer bearbeiten</a>
</div>

<div *ngIf="roundDetailsState$ | async as roundDetailsState">
  gestartet: {{roundDetailsState.datetime | date:'dd.MM.yyyy HH:mm:ss'}} Uhr

  <div>
    <a *ngIf="roundDetailsState.previousRoundId" href="" [routerLink]="['/round', roundDetailsState.previousRoundId]"><</a>
    <span>Runde {{roundDetailsState.roundIndex}}</span>
    <a *ngIf="roundDetailsState.nextRoundId" href="" [routerLink]="['/round', roundDetailsState.nextRoundId]">></a>
  </div>

  <hop-player-select
    *ngIf="attendingPlayerVos$ | async as attendingPlayerVos"
    [playerList]="attendingPlayerVos"
    [selectedId]="roundDetailsState.currentPlayerId"
    (playerChange)="onPlayerChanged($event)"
  ></hop-player-select>
</div>

<div>
  <mat-slide-toggle [checked]="currentPlayerIsInGame() | async" (change)="onInGameStatusChanged($event)">im Spiel</mat-slide-toggle>
  <hop-event-type-list
    *ngIf="roundEventTypes$ | async as roundEventTypes"
    [eventTypes]="roundEventTypes"
    [disableButtons]="!(currentPlayerIsInGame() | async)"
    (add)="onAddEvent($event)"
  ></hop-event-type-list>
</div>

<hop-round-event-list
  *ngIf="roundEvents$ | async as roundEvents"
  [roundEvents]="roundEvents"
  (remove)="onRemoveEvent($event)"
></hop-round-event-list>

<mat-expansion-panel *ngIf="roundDetailsState$ | async as roundDetailsState">
  <mat-expansion-panel-header>
    <mat-panel-title>
      JSON
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <pre>{{roundDetailsState | json}}</pre>
</mat-expansion-panel>