.round-details-button-container {
  display: flex;
  justify-content: space-between;
}

.round-chooser-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.player-chooser-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  .player-tabs-container {
    width: 100%;
  }
}