<div *ngIf="roundDetails$ | async as roundDetails">
    <button mat-stroked-button color="primary" [routerLink]="['/attendees', roundDetails.id]">
      <mat-icon>people</mat-icon>
      Teilnehmer bearbeiten
    </button>

    <div>
      <button mat-button [routerLink]="['/round', roundDetails.previousRoundId]" [disabled]="!roundDetails.previousRoundId">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <span>Runde {{roundDetails.roundIndex}}, {{roundDetails.datetime | date:'dd.MM.yyyy HH:mm:ss'}} Uhr</span>
      <button mat-button [routerLink]="['/round', roundDetails.nextRoundId]" [disabled]="!roundDetails.nextRoundId">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

    <hop-player-select
      *ngIf="attendeeList$ | async as attendeeList"
      [playerList]="attendeeList"
      [selectedId]="roundDetails.currentPlayerId"
      (playerChange)="onPlayerChanged($event)"
    ></hop-player-select>
</div>

<div>
  <mat-slide-toggle [checked]="isInGame$ | async" (change)="onInGameStatusChanged($event)" [disabled]="isRoundCompleted$ | async">im Spiel</mat-slide-toggle>
  <hop-event-type-list
    *ngIf="roundEventTypes$ | async as roundEventTypes"
    [eventTypes]="roundEventTypes"
    [disableButtons]="!(isInGame$ | async) || (isRoundCompleted$ | async)"
    (add)="onAddEvent($event)"
  ></hop-event-type-list>
</div>

<hop-event-list
  *ngIf="combinedEvents$ | async as combinedEvents"
  [events]="combinedEvents"
  (remove)="onRemoveEvent($event)"
></hop-event-list>

<mat-expansion-panel *ngIf="roundDetails$ | async as roundDetails">
  <mat-expansion-panel-header>
    <mat-panel-title>
      JSON
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <pre>{{roundDetails | json}}</pre>
</mat-expansion-panel>