{
  "REMOTE_URL": "<YOUR_REMOTE_URL>",
  "REMOTE_USER": "<YOUR_REMOTE_USER>",
  "REMOTE_PASSWORD": "<YOUR_REMOTE_PASSWORD>",
  "REMOTE_DATABASE": "<YOUR_REMOTE_DATABASE_NAME>",
  "LOCAL_DATABASE": "<YOUR_LOCAL_DATABASE_NAME>"
}