<h2>Details zum Spiel</h2>
<div *ngIf="gameDetails$ | async as gameDetails">
  Datum: {{gameDetails.datetime | date:'dd.MM.yyyy HH:mm:ss'}} Uhr
  <button mat-button (click)="handleChangeDateClick()">Datum ändern</button>
  <div>
    {{gameDetails.rounds.length}} Runde(n)
    <a *ngIf="gameDetails.rounds.length > 0 && !(isGameCompleted$ | async)" href="" [routerLink]="['/round', gameDetails.latestRound.id]">Aktuelle Runde fortsetzen</a>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Runden
        </mat-panel-title>
      </mat-expansion-panel-header>

      <hop-round-list [roundListItems]="gameDetails.rounds"></hop-round-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Feststellungen
        </mat-panel-title>
      </mat-expansion-panel-header>

      <hop-player-select
        *ngIf="activePlayers$ | async as activePlayers"
        [playerList]="activePlayers"
        (playerChange)="onPlayerChanged($event)"
      ></hop-player-select>

      <hop-event-type-list
        *ngIf="gameEventTypes$ | async as gameEventTypes"
        [eventTypes]="gameEventTypes"
        [disableButtons]="isGameCompleted$ | async"
        (add)="onAddEvent($event)"
      ></hop-event-type-list>

      <hop-event-list
        *ngIf="combinedEvents$ | async as combinedEvents"
        [events]="combinedEvents"
        (remove)="onRemoveEvent($event)"
      ></hop-event-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>