::ng-deep .mat-step-label {
  width: 100%;

  .mat-step-text-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

mat-vertical-stepper {
  max-width: 700px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  white-space: nowrap;

  tr {
    height: 50px;

    &:nth-child(even) {
      background-color: #f2f2f2;
    }

    td:first-child {
      width: 150px;
      padding-left: 5px;
      vertical-align: top;
      line-height: 40px;
    }

    td:nth-child(2) {
      font-size: 12px;
      vertical-align: top;
      line-height: 40px;
    }

    td:last-child {
      width: 90px;
      text-align: right;
      padding-right: 5px;
      vertical-align: top;
      line-height: 40px;
    }
  }
}

.penalty-sum-container {
  text-align: right;
}

.left-right {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .player-checkbox-container {
    display: flex;
    align-items: center;
  }
}

.inactive {
  color: #999;
  text-decoration: line-through;
}

.remove-round-btn, .edit-attendance-btn {
  margin-top: 10px;
  margin-right: 10px;
}

.round-marker-list {
  mat-icon:not(:first-child) {
    padding-left: 10px;
  }
}