<div *ngIf="currentRound$ | async as currentRound">
  Runde: {{currentRoundNumber$ | async}} [id={{currentRound._id}}]
</div>

<div *ngIf="currentPlayer$ | async as currentPlayer">
  an der Reihe: {{currentPlayer.name}}
</div>

<hr>
<h2>Neues Ereignis</h2>
<div *ngIf="allRoundEventTypes$ | async as allRoundEventTypes">
  <div *ngFor="let eventType of allRoundEventTypes">
    <div *ngIf="eventType.hasValue">
      <input type="number" [step]="eventType.valueStep || 1" [(ngModel)]="eventType.formValue" /> {{eventType.valueUnit}}
    </div>
    <button (click)="handleEventTypeClicked(eventType)" [disabled]="eventType.hasValue && !eventType.formValue">{{eventType.name}}</button>
  </div>
  <button (click)="handleRemovePlayerFromGameClicked()">Raus</button>
</div>
<hr>
<app-event-list [playerId]="(currentPlayer$ | async)?._id" [roundId]="(currentRound$ | async)?._id"></app-event-list>
<hr>
<button (click)="previousPlayer()">prev</button>
<button (click)="showGameSettings()">settings</button>
<button (click)="nextPlayer()">next</button>