<div *ngIf="currentRound$ | async as currentRound">
  Runde: {{currentRoundNumber$ | async}} [id={{currentRound._id}}]
</div>

<div *ngIf="currentPlayer$ | async as currentPlayer">
  an der Reihe: {{currentPlayer.name}}
</div>

<hr>
<h2>Neues Ereignis</h2>
<div *ngIf="allRoundEventTypes$ | async as allRoundEventTypes">
  <div *ngFor="let eventType of allRoundEventTypes">
    <div *ngIf="eventType.valueUnit">
      <input type="number" min="0" [(ngModel)]="eventType.formValue" />
      {{eventType.valueUnit}}
      <span *ngIf="eventType.formValue">=> {{eventType.formValue * eventType.penalty.value}} {{eventType.penalty.unit}}</span>
    </div>
    <button (click)="handleEventTypeClicked(eventType)" [disabled]="eventType.valueUnit && !eventType.formValue">{{eventType.name}}</button>
  </div>
  <button (click)="handleRemovePlayerFromGameClicked()">Raus</button>
</div>
<hr>
<app-event-list [playerId]="(currentPlayer$ | async)?._id" [roundId]="(currentRound$ | async)?._id"></app-event-list>
<hr>
<button (click)="previousPlayer()">prev</button>
<button (click)="showGameSettings()">settings</button>
<button (click)="nextPlayer()">next</button>