<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>euro_symbol</mat-icon>Runde
    </ng-template>
    Runde: {{currentRoundNo$ | async}} [id={{(round$ | async)?._id}}]
    <app-attendee [currentPlayer]="currentPlayer$ | async"
      [participatingPlayerIds]="(round$ | async)?.participatingPlayerIds"
      (currentPlayerChanged)="onPlayerChanged($event)"></app-attendee>
    <button (click)="showAttendeeList()">Teilnehmer</button>
    <ng-container *ngIf="currentPlayer$ | async as currentPlayer">
      <app-round-events *ngIf="round$ | async as round" [round]="round" [player]="currentPlayer"
        (playerLostEvent)="handlePlayerLost($event)" (schockAusEvent)="handleSchockAus($event)"
        (playerWonEvent)="handlePlayerWon($event)">
      </app-round-events>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>euro_symbol</mat-icon>Spiel / Feststellungen
    </ng-template>
    <app-game-events *ngIf="game$ | async as game" [game]="game"></app-game-events>
  </mat-tab>
</mat-tab-group>