<div *ngIf="gameDetails$ | async as gameDetails">
  <ng-container *ngIf="visiblePlayers$ | async as visiblePlayers">
    <ng-container *ngIf="gameEventsRow$ | async as gameEventsRow">
      <ng-container *ngIf="roundEventsRows$ | async as roundEventsRows">
        <mat-expansion-panel class="details-container">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Spiel vom {{gameDetails.datetime | date:'dd.MM.yyyy'}}</strong>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <pre>{{pointsTable$ | async | json}}</pre>

          <div class="details-row">
            <div><strong>Beginn:</strong></div>
            <div>{{gameDetails.datetime | date:'dd.MM.yyyy HH:mm'}} Uhr</div>
          </div>
          <div class="details-row">
            <div><strong>Ort:</strong></div>
            <div>
              <mat-form-field>
                <mat-select [formControl]="placeSelectFormControl">
                  <mat-option *ngFor="let place of possiblePlaces$ | async" [value]="place">
                    {{place}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="placeSelectFormControl.value === 'Auswärts'" style="padding-left: 10px">
                <input matInput placeholder="Wo genau?" [formControl]="placeDetailFormControl">
              </mat-form-field>
              <button mat-icon-button color="primary" *ngIf="!placeSelectFormControl.pristine" (click)="onUpdatePlace()">
                <mat-icon>check</mat-icon>
              </button>
            </div>
            <div>
              <small>Urspr.: {{gameDetails.place}}</small>
            </div>
          </div>
          <div class="details-row">
            <div><strong>Gesamtsumme:</strong></div>
            <div>
              <hop-penalty-sum [events]="[gameEventsRow].concat(roundEventsRows) | getAllEvents"></hop-penalty-sum>
            </div>
            <div *ngIf="cashTable$ | async as cashTable">
              {{cashTable.overallSum}}
            </div>
          </div>
          <div class="details-row">
            <div><strong>Status:</strong></div>
            <div>
              <div *ngIf="gameDetails.completed">
                <span>abgeschlossen</span>
                <button mat-raised-button color="primary" (click)="updateCompletedStatus(false)">
                  <mat-icon>edit</mat-icon>
                  Spiel bearbeiten
                </button>
              </div>
              <div *ngIf="!gameDetails.completed">
                <span>laufend</span>
                <button mat-raised-button color="primary" (click)="updateCompletedStatus(true)">
                  <mat-icon>check</mat-icon>
                  Spiel abschließen
                </button>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <div class="table-container">
          <table>
            <tr>
              <th>
                <button mat-icon-button (click)="toggleAllRowStates(true)">
                  <mat-icon>unfold_more</mat-icon>
                </button>
                <button mat-icon-button (click)="toggleAllRowStates(false)">
                  <mat-icon>unfold_less</mat-icon>
                </button>
              </th>
              <th *ngFor="let player of visiblePlayers" [class.inactive-player]="!player.active">{{player.name}}</th>
            </tr>
            <tr>
              <td>
                <button mat-icon-button (click)="toggleRowState('gameEvents')">
                  <mat-icon *ngIf="!visibleRowIndexes['gameEvents']">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="visibleRowIndexes['gameEvents']">keyboard_arrow_up</mat-icon>
                </button>
                Festst.:
              </td>
              <td *ngFor="let player of visiblePlayers">
                <hop-event-list
                  *ngIf="visibleRowIndexes['gameEvents']"
                  [events]="[gameEventsRow] | getAllEvents:player._id"
                  [playerId]="player._id"
                  [hideRemoveButton]="gameDetails.completed"
                  (removeEvent)="onRemoveGameEvent($event, player._id)"
                ></hop-event-list>
                <hop-penalty-sum
                    *ngIf="!visibleRowIndexes['gameEvents']"
                    [events]="[gameEventsRow] | getAllEvents:player._id"
                    [hideWhenZero]="true">
                  </hop-penalty-sum>
                <button mat-button color="primary" *ngIf="!gameDetails.completed" (click)="showGameEventTypeDialog(player)">
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </tr>
            <tr *ngFor="let roundEventsRow of roundEventsRows; let i = index">
              <td>
                <button mat-icon-button (click)="toggleRowState(i)">
                  <mat-icon *ngIf="!visibleRowIndexes[i]">keyboard_arrow_down</mat-icon>
                  <mat-icon *ngIf="visibleRowIndexes[i]">keyboard_arrow_up</mat-icon>
                </button>
                Rd. {{i + 1}}
                <button mat-icon-button color="warn" (click)="onRemoveRound(roundEventsRow)" *ngIf="visibleRowIndexes[i] && !gameDetails.completed && roundEventsRow.columns.length === 0">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td *ngFor="let player of visiblePlayers">
                <ng-template
                  let-participationStatus="participationStatus"
                  let-eventsByPlayer="eventsByPlayer"
                  [ngTemplateOutletContext]="{
                    eventsByPlayer: [roundEventsRow] | getAllEvents:player._id,
                    participationStatus: roundEventsRow | getParticipationStatusForPlayer: player._id
                  }"
                  [ngTemplateOutlet]="t" #t>
                  <hop-event-list
                    *ngIf="visibleRowIndexes[i]"
                    [events]="eventsByPlayer"
                    [roundId]="roundEventsRow.roundId"
                    [playerId]="player._id"
                    [hideRemoveButton]="gameDetails.completed"
                    (removeEvent)="onRemoveRoundEvent($event, roundEventsRow.roundId, player._id)">
                  </hop-event-list>
                  <hop-penalty-sum
                    *ngIf="!visibleRowIndexes[i]"
                    [events]="eventsByPlayer"
                    [hideWhenZero]="true">
                  </hop-penalty-sum>
                  <div class="cell-buttons-container">
                    <button mat-button color="primary"
                      *ngIf="participationStatus && !gameDetails.completed"
                      (click)="showRoundEventTypeDialog(player, roundEventsRow.roundId)"
                    >
                      <mat-icon>add</mat-icon>
                    </button>
                    <mat-slide-toggle
                      *ngIf="visibleRowIndexes[i] && !gameDetails.completed && eventsByPlayer.length === 0"
                      [checked]="participationStatus"
                      (change)="onParticipationChange($event, player._id, roundEventsRow.roundId)"></mat-slide-toggle>
                  </div>
                  <div *ngIf="!participationStatus" class="not-participating-mask"></div>
                </ng-template>
              </td>
            </tr>
            <tr>
              <td *ngIf="!gameDetails.completed">
                <button mat-raised-button color="primary" (click)="onCreateNewRound(roundEventsRows.length)">
                  <mat-icon>add</mat-icon>
                  Rd. {{roundEventsRows.length + 1}}
                </button>
              </td>
            </tr>
            <tr>
              <td>Summe:</td>
              <td *ngFor="let player of visiblePlayers">
                <hop-penalty-sum [events]="[gameEventsRow].concat(roundEventsRows) | getAllEvents:player._id"></hop-penalty-sum>
              </td>
            </tr>
          </table>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>