$firstColor: #E57373;
$secondColor: #BBDEFB;
$thirdColor: #A5D6A7;
$fourthColor: #FFCDA9;
$fifthColor: #FFE879;

$header-background: #ddd;
$footer-background: #888;
$first-column-background: #aaa;

$transparency-value: 0.4;
$mask-transparency-value: 0.6;

.details-container {
  margin-bottom: 20px;

  .details-row {
    display: flex;
    align-items: center;
    & > div:first-child {
      width: 110px;
    }

    button {
      margin: 0 10px;
    }
  }
}

@media (max-width: 500px) {
  .details-container .details-row {
    display: block;
    margin-bottom: 10px;
    & > div:first-child {
      width: auto;
    }
  }
}

.table-container{
  height: calc(100vh - 160px);
  max-width: 100%;
  overflow: scroll;

  table {
    border-spacing: 0;

    th, td {
      white-space: nowrap;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
    }

    // fixed 1st column
    th:first-child, td:first-child {
      position: sticky;
      left: 0;
      z-index: 10;
      background-color: $first-column-background;
    }

    // fixed header
    th {
      position: sticky;
      top: 0;
      z-index: 9;

      &:first-child{
        z-index: 11;
        background-color: $first-column-background;
      }

      &.inactive-player {
        text-decoration: line-through;
      }
    }

    tr:nth-last-child(2) td {
      background: transparent;
    }

    // fixed footer
    tr:last-child td {
      position: sticky;
      bottom: 0;
      z-index: 11;
      background: $footer-background;
      text-align: center;
      font-weight: bold;

      &:first-child {
        z-index: 12;
        background: $footer-background;
      }
    }

    th:nth-child(5n + 2), td:nth-child(5n + 2) {
      background-color: $firstColor;
    }

    th:nth-child(5n + 3), td:nth-child(5n + 3) {
      background-color: $secondColor;
    }

    th:nth-child(5n + 4), td:nth-child(5n + 4) {
      background-color: $thirdColor;
    }

    th:nth-child(5n + 5), td:nth-child(5n + 5) {
      background-color: $fourthColor;
    }

    th:nth-child(5n + 6), td:nth-child(5n + 6) {
      background-color: $fifthColor;
    }

    tr:nth-child(even) td {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, $transparency-value);
      }
    }

    td {
      .not-participating-mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, $mask-transparency-value);
      }

      .cell-buttons-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      hop-penalty-sum {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}