.form-row {
  margin: 15px 0;

  mat-form-field {
    min-width: 300px;
  }

  .penalty-info-container {
    display: flex;
    align-items: center;
  }

  .short-form-field {
    min-width: 110px;
    width: 110px;
    margin-right: 10px;
    margin-top: 10px;
  }
}