.form-row {
  margin: 15px 0;

  .penalty-info-container {
    display: flex;
    align-items: center;
  }

  mat-radio-button {
    margin-left: 15px;
  }

  .short-form-field {
    max-width: 100px;
    margin-right: 10px;
    margin-top: 10px;
  }
}