<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <span *ngIf="form.get('_id').value">Spieler bearbeiten</span>
        <span *ngIf="!form.get('_id').value">Neuer Spieler</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <input type="hidden" formControlName="_id" readonly>

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>

        <div>
          <mat-slide-toggle formControlName="active">Aktiv</mat-slide-toggle>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-button (click)="navigateBack()">Abbrechen</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Speichern</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>