<form [formGroup]="form" (ngSubmit)="onSubmit()" class="tag-form" #formEl="ngForm">
    <mat-card>
        <mat-card-title>Spieler bearbeiten</mat-card-title>
        <mat-card-content>

            <input type="hidden" formControlName="_id" readonly>

            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>

            <div>
                <mat-slide-toggle formControlName="active">Aktiv</mat-slide-toggle>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="navigateBack()">Abbrechen</button>
            <button type="submit" mat-raised-button color="primary">Speichern</button>
        </mat-card-actions>
    </mat-card>
</form>