<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Spiele löschen
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field *ngIf="gameItems$ | async as gameItems">
      <mat-label>Spiele</mat-label>
      <mat-select [(value)]="selectedGameId">
        <mat-option *ngFor="let gameItem of gameItems" [value]="gameItem.id">
          {{gameItem.datetime | date:'dd.MM.yyyy HH:mm:ss'}} ({{gameItem.roundCount}} Runde(n))
          <mat-icon *ngIf="gameItem.completed">check</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="warn" (click)="removeGame(selectedGameId)">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lokale Datenbank
      </mat-panel-title>
    </mat-expansion-panel-header>

    <button mat-raised-button color="primary" (click)="deleteLocalDatabase()">Lokale Datenbank löschen</button>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Export & Import
      </mat-panel-title>
    </mat-expansion-panel-header>

    <h3>Export</h3>
    <mat-form-field *ngIf="gameItems$ | async as gameItems">
      <mat-label>Spiele exportieren</mat-label>
      <mat-select [(value)]="selectedGameIds" multiple>
        <mat-option *ngFor="let gameItem of gameItems" [value]="gameItem.id">
          {{gameItem.datetime | date:'dd.MM.yyyy HH:mm:ss'}} ({{gameItem.roundCount}} Runde(n))
          <mat-icon *ngIf="gameItem.completed">check</mat-icon>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="selectAllForExport()">alle</button>
    <button mat-raised-button color="primary" (click)="export()" [disabled]="!selectedGameIds || !selectedGameIds.length">
      <mat-icon>cloud_download</mat-icon>
      Export
    </button>

    <h3>Import</h3>
    <div>
      <button *ngIf="!uploadedFileContent" mat-raised-button (click)="fileInput.click()">Datei auswählen ...</button>
      <div *ngIf="uploadedFileContent">
        {{uploadedFileContent.length}} Spiel(e) ausgewählt
        <button *ngIf="uploadedFileContent" mat-icon-button color="warn" (click)="uploadedFileContent = undefined">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <input hidden type="file" accept=".json" (change)="onFileSelected()" #fileInput>
      <button *ngIf="uploadedFileContent" mat-raised-button color="primary" (click)="import()">
        <mat-icon>cloud_upload</mat-icon>
        Import
      </button>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Synchronisation
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-slide-toggle
      [checked]="autoSyncEnabled$ | async"
      (change)="toggleAutoSyncState($event)">automatische Synchronisation</mat-slide-toggle>

    <div>
      <button mat-raised-button color="primary" (click)="startSync()" [disabled]="autoSyncEnabled$ | async">
        <mat-icon>sync</mat-icon>
        Synchronisieren
      </button>
      <button mat-raised-button color="primary" (click)="pull()" [disabled]="autoSyncEnabled$ | async">
        <mat-icon>cloud_download</mat-icon>
        pull
      </button>
      <button mat-raised-button color="primary" (click)="push()" [disabled]="autoSyncEnabled$ | async">
        <mat-icon>cloud_upload</mat-icon>
        push
      </button>
    </div>

  </mat-expansion-panel>
</mat-accordion>
<hop-loading-indicator *ngIf="showLoadingIndicator"></hop-loading-indicator>