.example-container {
  height: 400px;
  width: 100%;
  overflow: auto;
}

th, td {
  padding: 0 20px !important;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-footer-cell {
  border-top: 1px solid #ccc;
}