html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content-container {
  padding: 16px;
}

.form-button-container {
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mat-dialog-error {
  .mat-dialog-title {
    color: #f00;
  }
}

@import './styles/schocken-app-theme';