html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content-container {
  padding: 16px;
}

.form-button-container {
  display: flex;
  justify-content: flex-end;

  & > button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mat-dialog-error {
  .mat-dialog-title {
    color: #900;
  }
}

.info-box {
  display: flex;
  align-items: center;
  border: #ccc 1px solid;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;

  .info-text {
    margin-left: 10px;
  }
}

@import './styles/schocken-app-theme';