<div class="attendee-button-container">
    <button mat-button (click)="onCancelClick()">
        <mat-icon>chevron_left</mat-icon>
        Zurück
    </button>
    <button *ngIf="roundId$ | async" mat-raised-button color="primary" (click)="onContinueRoundClick()" [disabled]="!participatingPlayers.length">
        <mat-icon>check</mat-icon>
        Speichern
    </button>
    <button *ngIf="!(roundId$ | async)" mat-raised-button color="primary" (click)="onStartGameClick()" [disabled]="!participatingPlayers.length">
        <mat-icon>check</mat-icon>
        Runde starten
    </button>
</div>

<div class="info-box">
    <mat-icon>info</mat-icon>
    <div class="info-text">Bestimme die teilnehmenden Spieler und deren Reihenfolge per Drag & Drop</div>
</div>

<h2>Teilnehmer der Runde</h2>
<div class="list-container">
    <div cdkDropList #participatingList="cdkDropList" [cdkDropListData]="participatingPlayers"
        [cdkDropListConnectedTo]="[otherList]" class="list" (cdkDropListDropped)="dropOnParticipating($event)">
        <div class="list-item" *ngFor="let item of participatingPlayers" cdkDrag [cdkDragData]="item">
            <div class="list-item-content-wrapper">
                <mat-icon>drag_indicator</mat-icon>
                {{item.name}}
            </div>
        </div>
    </div>
</div>

<h2>Übrige Spieler</h2>
<div class="list-container">
    <div cdkDropList #otherList="cdkDropList" [cdkDropListData]="otherPlayers"
        [cdkDropListConnectedTo]="[participatingList]" class="list" (cdkDropListDropped)="dropOnOther($event)">
        <div class="list-item" *ngFor="let item of otherPlayers" cdkDrag [cdkDragData]="item">
            <div class="list-item-content-wrapper">
                <mat-icon>drag_indicator</mat-icon>
                {{item.name}}
            </div>
        </div>
    </div>
</div>

<div class="attendee-button-container">
    <button mat-button (click)="onCancelClick()">
        <mat-icon>chevron_left</mat-icon>
        Zurück
    </button>
    <button *ngIf="roundId$ | async" mat-raised-button color="primary" (click)="onContinueRoundClick()" [disabled]="!participatingPlayers.length">
        <mat-icon>check</mat-icon>
        Speichern
    </button>
    <button *ngIf="!(roundId$ | async)" mat-raised-button color="primary" (click)="onStartGameClick()" [disabled]="!participatingPlayers.length">
        <mat-icon>check</mat-icon>
        Runde starten
    </button>
</div>