<h1>Laufende Spiele</h1>

<div *ngIf="!(isLoading$ | async); else loading">
    <div *ngIf="allGames$ | async as allGames">
        <ul *ngIf="allGames.length; else noGames">
            <li *ngFor="let game of allGames">
                <span>
                    Spiel vom {{game.datetime | date:'dd.MM.yyyy HH:mm:ss'}} Uhr
                </span>
                <button mat-button color="accent" (click)="continueGame(game)">
                    <mat-icon>play_arrow</mat-icon>fortsetzen
                </button>
            </li>
        </ul>
    </div>
</div>

<ng-template #loading>
    <div>Lade Spiele...</div>
</ng-template>
<ng-template #noGames>
    <div>Keine Spiele vorhanden</div>
</ng-template>

<button mat-raised-button color="primary" (click)="startNewGame()">
    <mat-icon>add</mat-icon>Neues Spiel starten
</button>