<h1>Mitspieler auswählen</h1>

<ul *ngIf="allPlayers$ | async as players">
    <li *ngFor="let player of players">
        {{player.name}} |
        Teilnahme? <input type="checkbox" (change)="toggleParticipations(player._id, $event)" [checked]="isParticipating(player._id)" /> |
        noch im Spiel?<input type="checkbox" (change)="toggleInGame(player._id, $event)" [checked]="isInGame(player._id)" />
    </li>
</ul>

<button (click)="handleSaveClicked()" [disabled]="!participatingPlayerIds.length">Speichern</button>